.info-base {
    margin-top: 20px;
    background-color: whitesmoke;
    width: 400px;
    height: 190px;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 9px 3px #424242;
    margin-bottom: 30px;
    margin-left: 35%;
}

.pedido-info h2 {
    text-align: center;
}

.pedido-info h1 {
    text-align: center;
}

.pedido-info h3 {
    text-align: center;
    line-height: 30px;
}

.btn-pedido-infos {
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 8px 2px #424242;
    margin-top: 15px;
    margin-left: 35%;
    margin-bottom: 15px;
    transition: all ease .3s;
}

.btn-pedido-infos:hover {
    transform: scale(1.1);
    background-color: #4242c5;
    color: white;
}